<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007436132884-2fipeoeqjo790j7958hri22o754pf6ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007436132884-2fipeoeqjo790j7958hri22o754pf6ja</string>
	<key>API_KEY</key>
	<string>AIzaSyBMLRZn8HviBY1l33XkchE4gVGaH4KcXsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007436132884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>katherinesanders.Supplement</string>
	<key>PROJECT_ID</key>
	<string>supplement-b0f70</string>
	<key>STORAGE_BUCKET</key>
	<string>supplement-b0f70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007436132884:ios:333167bcbdcd9f324f6d01</string>
</dict>
</plist>